.poshn-logo {
  width: 150px;
  height: 60px;
}

input[type="file"] {
  display: none;
}
.admin-ab-blogimg {
  max-width: 250px;
  max-height: 180px;
}

.labelbtn {
  background-color: #1e88e5;
  color: white;
  height: 30px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

.card-scroll {
  height: calc(100vh - 200px);
  overflow: hidden scroll;
}

.m-responses-detail {
  display: none;
}

.card-scroll-container {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.card-scroll::-webkit-scrollbar {
  width: 5px;
}

.card-scroll::-webkit-scrollbar-track {
  background: #ddd;
}

.card-scroll::-webkit-scrollbar-thumb {
  background: #666;
}

.survey-cards h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}
/* .card-scroll::-webkit-scrollbar {
  width: 5px;
}

.card-scroll::-webkit-scrollbar-thumb {
  background: #ddd;
}

.card-scroll::-webkit-scrollbar-track {
  background: #666;
} */
/* 
   
}
.simplebar-content-wrapper {
   */
.ResponseCard:hover {
  background-color: #1e88e5;
  color: white;
}

.card-scroll-container a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 990px) {
  .desktop-respones-container {
    display: none;
  }

  .m-responses-detail {
    display: block;
  }
}

.selectimg {
  width: 60%;
}

.selectimg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.selectimg-container h5 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 40px;
  /* or 167% */

  letter-spacing: -0.01em;

  /* Blue/1 */

  color: #324398d5;
}
